body{
     
    background-color:lightblue;
 
}

h2{
    text-align: center;
}
 
button.btn.btn-primary{
border-radius: 50px;

}

img{
   padding-left: 260px;

}

button.btn.btn{
   background-color:blue;
   margin-left: 220px;
}
