/*     Ceci est un commentaire pour ma feuille de style  */  
body {
    width: 1275px;
    height: auto;
}
h1 {   
    font-family: 'Henny Penny', cursive;
    font-size: 40px;
    font-weight: 600px;
}
a {
    text-decoration: none;
}
ul li {
    list-style: none;
}




/* HEADER */
header{
    display: flex;
}
header div:first-child {
    width: 350px;
}
    

header div:first-child > img {
 width: 250px;   
 height: 100px;
 display: block;
}
header div:last-child > img {
    width: 32px;
    height: 32px;
    display: block;
    margin-left: 600px;
    margin-top: 68px;
}




/* NAVIGATION*/
nav {
    background-color: #6790A1;
}
nav ul{
    display:flex;
text-align: center;
height: 50px;
}
nav ul {
    padding: 0px;
}
nav ul li {
    width: 250px;
}
nav ul li:first-child, nav ul li:hover:first-child {
    margin: 0px;
    width: 270px;
}
    
    
    

nav ul li a {
    color : white;
    width: 250px;
    height: 50px;
    display: block;
    line-height: 45px;
    
}
nav ul li:hover{
    background-color: #fcbbcf;
}
nav ul li a:hover{
    color: gray;
}

/* CONTENT */
div ul li a {
    margin-right: 20px;
}
div > h1 {
    text-align: center;
}
div> h2{
    text-align: center;
    font-size: 35px;
}
div>h3 {
    text-align: center;
    font-size: 25px;
}
div p {
    text-align: center;
}
div ul#btnA {
display: flex;
margin-left: 452.50px;
margin-top: 80px;
margin-bottom: 80px;

}
div ul#btnA  li {
    width: 165px;
    height: 50px;
}
div ul#btnA  li:first-child {
    margin-right: 20px;
    border: 2px solid green;
}
div ul#btnA  li:hover:first-child{
    filter: brightness(80%);
}
div ul#btnA  li:last-child{
    border: 2px solid #6790A1;
}
div ul#btnA  li a {
    display: block;
    width: 165px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    text-decoration: none;
}
div ul#btnA  li:first-child a {
    background-color: green;
}
div ul#btnA  li:last-child a {
    background-color: #6790A1;

}

/*    */
div.container ul.list-group{
    margin-top: 50px;
    margin-bottom: 50px;
}
div.container ul.list-group li:first-child::after{
    content: ">";
    margin-left: 10px;
    margin-right: 10px;
}
.alert{
    color: green;
}
.alertG{
    color: orange;
}
.alertR{
    color: red;
font-weight: bold;
}
/* FOOTER */
footer {
background-color: #6790A1;
display: flex;
}
footer nav {
    width: 250px;
}
footer nav ul {
    display: inline-block;
    margin-left: 30px;
}
footer nav ul li, footer nav ul li a {
    width: auto;
    height: 30px;
}
footer nav ul li a {
    line-height: 30px;
    text-align: left;
}
footer address{
    width: 350px;
}
footer p{
    position: relative;
    float: left;
    left: -10px;
}