/* reset */
footer {
    margin: 0px;
    padding: 0px;
}


/* base 

}*/
body{
text-align: center;

}
h1{
    position: absolute;
    top: 70px;
    text-align: left;
color: #ffa200;
}
h2{ 
    margin-top: 100PX;
    margin-bottom: -150px;
    margin-left: -100px;
    text-align: center;
color: #ffa200;
}
/*h3{

}*/
p{ position: absolute;
    top: 200px;
    color: #000;
  
}
a{
    color: #ffa200;
    color:linear-gradient(to right, #ffa200, #ffbe01);
}


/*  button */
.btn-yellow {
    background-color: #fff7df !important;
    background: linear-gradient(to right, #ffa200, #ffbe01);
    border-radius: 10px;
    margin-top: 40px;
    margin-right: 5px;

}
.btn-brun {
    background-color: #fff7df;
    color: #fff7df !important;

}

.btn-warning{
    background-color: #ffa200;
    color: #fff;
   
    border-radius: 80px;
    margin-left: -90px;
    height: 50px;
}


/* content */
#content {
    
    background-color: #fff7df;
    max-height: 950px;
    height: 950px;
}

/*formulaire*/
.form-control{
    border-radius: 50px;
    margin-left: 350px;
}
  



/*femme*/
#femme{
    width:700px ;
    height:500px ;
    margin-left: -250px;
    margin-right: 0px;
}
#title{
  
        background: rgba(255, 253, 253, 0.8);
        z-index: 1;
        position:0;
        text-align: left;
        font-family: Georgia;
        margin: 0 auto;
        left: -180px;
        right: 0;
        margin-top: 100px;
        color: white;
        width: 70%;
   
}




/*texte centré*/
#text{
    margin-top: -150px;
    text-align: center;
    margin-left: 350px;
}
/*second container*/
#place{
    margin-top: 200px;
}
/* header */
.logo {
    margin-right: 100px;
}
.nav-h {
    line-height: 100px;
}
.logo, .nav-h {
    height: 150px;
}
.nav-h li {
    width: auto;
}
.nav-h li > a {
    font-weight: bold;

}
.nav-h li a:hover, .nav-h li a:active {
    font-weight: bold;
    text-decoration: underline solid #ffa200 2px;
    text-underline-offset: 1em;
    color:#262626;
}
.nav-h li a.btn:hover {
    text-decoration: none;
}


/* slider */
.slider {
    
    background: linear-gradient(to right, #ff9d01, #ffb400);
    height: 660px;
    margin-bottom: 5px;
}
.slider h2 {
    font-size: 1.8em;
    font-weight: bold;
}
.slider h2:first-child {
    margin-top: 120px;
}
.slider p {
    
    font-size: 1.1em;
    margin-top: 5px;
    margin-bottom: 5px;
}
.slider button {
    margin-top: 5px;
    padding: 20px;
    border-radius: 50px;
    width: 200px;
}
.slider h2, .slider p, .slider button {
    color: #fff7df;
    margin-left: 90px;
}
.slider .btn-slider {
    margin-left: 90px;
    margin-top: 50px;
}
/* formulaire*/
.forme{
    text-align: center;
    margin-right: -100px;
}

/* content */
.content {
    background-color: #fff7df;
    background: size 300px;
}


.iconeBT {
    display: flex;
    flex-basis: auto;
    flex-wrap: nowrap;
    margin-top: 150px;
    margin-bottom: 120px;
}
.iconeBT img {
    width: 148px;
    height: 129px;
}
.iconeBT img, .iconeBT h3, .iconeBT p {
    margin-left: 110px;
}
.iconeBT p {
    
    color:#ffa200;
}


/* footer */
footer {
    background-color: #262626;
    width: 100%;
    height: 250px;
    color: #fff;
}

footer div.logoFooter {
    background-image: url("image/logo_fond_noir.png");
    background-repeat: no-repeat;
    height: 75px;
    width: 207px;
    margin-top: 1 0px;
    margin-bottom: 10px;
}